@{
  Layout = "_Layout";
}

@model QuiltShop.Models.Instructor;

<h2>Add a Project</h2>

<h4>Sign this instructor up to teach a project: @Html.DisplayFor(model => model.NameFirst) @Html.DisplayFor(model => model.NameLast)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.InstructorId)

  @Html.Label("Select a Project")
  @Html.DropDownList("ProjectId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to List of Instructors", "Index")</p>